/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,500,700|Playfair+Display:ital:400,500,700');

html, body, .App-header  {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Style for paragraphs */
p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 15px;
    font-weight:500;
    text-align: left;
}

a {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  /* margin-bottom: 15px; */
  font-weight: 700;
}

/* Style for headings */
h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 54px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 15px;
}

h2 {
    font-family: 'Playfair Display', sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 10px;
}

h3 {
  font-family: 'Playfair Display', sans-serif;
  font-size: 26px;
  font-weight: bold;
  margin-top: 45px;
  margin-bottom: 15px;
  text-align: left;
}

h4 {
  font-family: 'Playfair Display', sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 15px;
  font-style: italic;
}

h5 {
  font-family: 'Playfair Display', sans-serif;
  font-size: 20px;
  font-weight: 900;
  margin-top: 25px;
  margin-bottom: 10px;
  text-align: left;
  
}

/* Style for strong text */
strong {
    font-weight: bold;
    color: #000000;
}

hr {
  color: black;
}

li {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight:500;
  text-align: left;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.background {
    background: #e9e2ac;  /* fallback for old browsers */
    min-height: 100%;
    background-size: cover, cover;
    background: -webkit-linear-gradient(to right, #d1edd7, #f1ebc0);  /* Chrome 10-25, Safari 5.1-6 */
    background: radial-gradient(transparent 48%, rgba(0, 0, 0, 0.342) 150%), linear-gradient(90deg, #d1edd7 0%, #f1ebc0 100%);
    background-repeat: no-repeat;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background: #e9e2ac;  
  background-size: cover, cover;
  background: -webkit-linear-gradient(to right, #d1edd7, #f1ebc0);  /* Chrome 10-25, Safari 5.1-6 
  background: radial-gradient(transparent 48%, rgba(0, 0, 0, 0.655) 100%), linear-gradient(90deg, #d1edd7 0%, #f1ebc0 100%); */
  min-height: 100%;
  background-repeat: no-repeat;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(52, 40, 17);
}

.App-link {
  color: #61dafb;
}

.wrapper {
  align-items: center;
  padding: 32% 32%;
  scroll-snap-type: y mandatory;
  height: 100%;
  
}

@media all and (min-width:0px) and (max-width: 1000px) {
  .wrapper {
    align-items: center;
    padding: 15% 15%;
    scroll-snap-type: x mandatory;
}

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* NAV BAR */

.centered-container {
  display: flex;
  justify-content: center;
}

.navbar {
  position: fixed;
  display: inline-flex;
  align-content: center;
  justify-content: center; 
  width: 60%;            /* Full width */
  border-radius: 20px;     /* 4px border radius */
  z-index: 999;           /* Ensure it's above other content */
  padding: 5px 40px 5px 40px;
  margin-top: 30px;
  background-color: rgba(255, 255, 255, 0.542);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, .25);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, .25);
  backdrop-filter: blur(15px);
}

.navbar-logo {
  position: relative;  /* Display as inline block */
  padding: 10px;          /* Add padding for spacing */
  right: 40px;
  background-image: url(logo.png);
  background-size: 100%;
}

.navbar-links a {
  text-decoration: none;  /* Remove underline from links */
  margin: 0 10px;         /* Add margin between links */
  color: black;           /* Link text color */

}

.flex {
  display: flex;
  align-items: center;
}

.center-title {
  align-items: center;
  justify-content: center;
}

.fullscreen {
  min-height: 80vh;
}

.image {
  max-width: 100%;
  height: auto;
 margin: 50px 0 50px 0;
}

.article {
  scroll-snap-align: start;
}