body {
  body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  .navbar {
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  .navbar-logo {
    float: left;
    padding: 15px;
  }
  .navbar-logo img {
    height: 40px;
  }
  .navbar-links {
    float: right;
    padding: 15px;
  }
  .navbar-links a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
  }
  .navbar-links a:hover {
    text-decoration: underline;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
